<div class="container mt-2">
  <div class="row">
    <app-metric class="col-sm-6" [used]="cpu.used" [available]="cpu.available">
      <!-- Let's consider <metric-title> and <metric-description> WebComponents. Add CUSTOM_ELEMENTS_SCHEMA to @NgModule.schema.-->
      <metric-title>CPU</metric-title>
      <metric-description>utilization of CPU cores</metric-description>
    </app-metric>
    <app-metric class="col-sm-6" [used]="mem.used" [available]="mem.available">
      <metric-title>Memory</metric-title>
      <metric-description>utilization of memory in GB</metric-description>
    </app-metric>
  </div>
</div>

<div class="container mt-2">
  <div class="card card-block">
    <div class="card-body">
      <nav class="navbar navbar-dark bg-dark">
        <h1 class="navbar-brand mb-0">Cluster 1</h1>
      </nav>
      <table app-nodes class="table table-hover">
        <tbody>
          <tr *ngFor="let node of cluster1" [node]="node" app-nodes-row>
          </tr>
        </tbody>
      </table>
      <nav class="navbar navbar-dark bg-dark">
          <h1 class="navbar-brand mb-0">Cluster 2</h1>
        </nav>
        <table app-nodes class="table table-hover">
          <tbody>
            <tr *ngFor="let node of cluster2" [node]="node" app-nodes-row>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>